<nav>
        <mat-toolbar>
                <mat-toolbar-row class="title-bar">
                        <img src="assets/logo.svg">
                        <span class="spacer"></span>
                        <span>STATELLITE</span>

                </mat-toolbar-row>
                <mat-toolbar-row *ngIf="coords" class="coords-bar">
                        <div>
                                <span>Lat: {{coords.lat}}°</span>
                                <span class="spacer"></span>
                                <span>Long: {{coords.long}}°</span>
                        </div>
                </mat-toolbar-row>
        </mat-toolbar>
</nav>

<main>
        <div class="loading-shade" *ngIf="isLoading || !coords">
                <p class="location-warning" *ngIf="!coords">
                        This application requires location services. <br> Please enable location to continue.
                </p>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>

        <table mat-table [dataSource]="data">

                <!--Satellite ID-->
                <ng-container matColumnDef="satid">
                        <th mat-header-cell *matHeaderCellDef>ID</th>
                        <td mat-cell *matCellDef="let row">{{row.satid}}</td>
                </ng-container>
                <!--Satellite Name-->
                <ng-container matColumnDef="satname">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let row">{{row.satname}}</td>
                </ng-container>
                <!--Designator-->
                <ng-container matColumnDef="intDesignator">
                        <th mat-header-cell *matHeaderCellDef>Designator</th>
                        <td mat-cell *matCellDef="let row">{{row.intDesignator}}</td>
                </ng-container>
                <!--Launch Date-->
                <ng-container matColumnDef="launchDate">
                        <th mat-header-cell *matHeaderCellDef>Launch Date</th>
                        <td mat-cell *matCellDef="let row">{{row.launchDate}}</td>
                </ng-container>
                <!--Latitude-->
                <ng-container matColumnDef="satlat">
                        <th mat-header-cell *matHeaderCellDef>Latitude</th>
                        <td mat-cell *matCellDef="let row">{{row.satlat}}°</td>
                </ng-container>
                <ng-container matColumnDef="satlng">
                        <th mat-header-cell *matHeaderCellDef>Longitude</th>
                        <td mat-cell *matCellDef="let row">{{row.satlng}}°</td>
                </ng-container>
                <ng-container matColumnDef="satalt">
                        <th mat-header-cell *matHeaderCellDef>Altitude</th>
                        <td mat-cell *matCellDef="let row">{{row.satalt}}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


        </table>

        <div class="button-container" *ngIf="!isLoading">
                <button mat-flat-button (click)="getSatellites()">Search Again</button>
        </div>

</main>