/* Coolors Exported Palette - coolors.co/394648-fdf0d5-abc4ab-f0544f-c6d8d3 */

/* RGB */

/*$white: #f8f8f8;
$greyblue: rgba(57, 70, 72, 1);
$yellow: rgba(253, 240, 213, 1);
$green: rgba(171, 196, 171, 1);
$red: rgba(240, 84, 79, 1);
$blue: rgba(198, 216, 211, 1);

*/
$white: #f8f8f8;
$red: #753743;
$greyblue: #394648;
$orange: #aa5042;
$green: #c4e7d4;
$blue: #c4dacf;
$black: #1d2324;